<div class="container-fluid">
    <div class="row">
        <div class="col-lg text-center" id="div-doar">
            <div class="div-descricao">
                <form action="/doado" method="POST">
                    <div id="text-descricao">
                        Descreva o conteúdo da sua cesta básica!
                    </div>
                    <div class="div-textarea">
                        <textarea placeholder="Descreva:"  name="descricao" id="descricao" cols="30" rows="10"></textarea>
                    </div>
                    <div class="checkbox"><input type="checkbox" required/>Eu irei ao Projeto Social Tiago Felipe para doar esta cesta básica!</div>
                    <div class="button">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>