<div class="row">
    <div class="col-md-3" id="footer-contacts">
        <h2 id="title-logo">CestaSocial</h2>
        <p>Mãos que doam amor, nunca ficam vazias</p>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <h3 class="title-endereco">Contato/Endereço:</h3>
        <li><img src="./IMG/insta icon.png" alt="" class="icon"><a href="" class="footer-link"
                class="contact">Instagram</a></li>
        <li><img src="./IMG/adress point icon.png" alt="" class="icon"><a
                href="https://www.google.com.br/maps/place/Centro+de+treinamento+Tiago+Felipe+brazilian+jiu+jitsu+e+submission+grappling/@-29.6984432,-51.1755114,10z/data=!4m10!1m2!2m1!1stiago+felipe!3m6!1s0x9519170b537610d7:0x7d6156c30f954b3e!8m2!3d-29.6907265!4d-50.8499934!15sCgx0aWFnbyBmZWxpcGWSAQNneW3gAQA!16s%2Fg%2F11s37tlt4j?entry=ttu"
                class="footer-link" class="contacts">Projeto Social</a></li>
    </div>
</div>