<section>
    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <img src="/imagens/banner-home.png">
            </div>
            <div class="col-lg-6 d-flex text-center align-items-center justify-content-center" id="informations"style="border: 2px solid #fff;">
                <div>
                    <div>
                        <a href="/usuario/solicitar"><button class="btn">Receber!</button></a>
                    </div>
                    <div id="text-banner" style="border: 2px solid #fff;">
                        <h2>Mãos que doam amor, nunca ficam vazias!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="frase">Sobre o Projeto</p>
                <video src="/imagens/video-projeto-social.mp4" controls mute style="width: 800px; border-radius: 20px; border: 2px solid #fff;"></video>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="frase">Localidade</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13864.007336618779!2d-50.8499934!3d-29.6907265!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9519170b537610d7%3A0x7d6156c30f954b3e!2sCentro%20de%20treinamento%20Tiago%20Felipe%20brazilian%20jiu%20jitsu%20e%20submission%20grappling!5e0!3m2!1spt-BR!2sbr!4v1698867539726!5m2!1spt-BR!2sbr" 
                width="750" height="500" style="border:0; border-radius: 20px; border: 2px solid #000;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>