<div class="container">
    <div class="row">
        <div class="col-lg text-center" id="banner">
            <div id="text-banner">
                Mãos que doam amor nunca ficam vazias!
            </div>
            <div class="buttons">
                <div>
                    <button type="button" class="btn btn-primary btn-lg">Receber</button> 
                </div>
                <div>
                    <button type="button" class="btn btn-primary btn-lg">Doar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg text-center" id="div-video">
            <div id="title-sobre">
                Sobre o projeto
            </div>
            <div>
                <div>
                    <video src="/images/video-projeto-social.mp4" controls mute style="width: 600px; border-radius: 10px;"></video>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg text-center" id="div-local">
            <div id="title-local">
                Localidade
            </div>
            <div>
                <div>
                    <iframe id="iframe"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3466.0019957496024!2d-50.85256832505418!3d-29.690721814962814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9519170b537610d7%3A0x7d6156c30f954b3e!2sCentro%20de%20treinamento%20Tiago%20Felipe%20brazilian%20jiu%20jitsu%20e%20submission%20grappling!5e0!3m2!1spt-BR!2sbr!4v1689457839703!5m2!1spt-BR!2sbr"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>