<div class="row-lg-12 header" style="display: flex;">
    <div class="col-lg-12">
        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="height:10vh;">
            <div class="container-fluid">
                <a class="navbar-brand" style="font-size: 2.5em;" href="#">CestaSocial</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="./Views/cadastro.html" style="font-size:1.2rem; color: #000;">Entrar</a>
                    <a class="nav-link" href="#txtsobre"
                        style="font-size:1.2rem; font-weight: bold; color: #000; width: 11vw;">Sobre o projeto</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<section id="section1">
    <div class="row-lg-12" id="banner">
        <img class="imagem-banner" src="./IMG/entrega-cestas.jpg" alt="Entrega cestas"
            style="width: 90vw; height: 90vh; border-radius: 18px;">
        <div class="carousel-caption d-none d-md-block msg" style="height: 10vh;">
            <p>Mãos que doam amor nunca ficam vazias</p>
        </div>
    </div>
</section>
<div class="row">
</div>
<section id="section2">
    <div class="container">
        <div class="row">
            <div id="txtsobre">
                <p>
                    Sobre o projeto
                </p>
            </div>
        </div>
        <div class="row">
            <div id="video">
                <video src="./IMG/video-projeto-social.mp4" controls mute style="width: 600px;"></video>
            </div>
        </div>
    </div>
</section>
<div class="row">
</div>
<section id="section3">
    <div class="container">
        <div class="row">
            <div id="txtsobre">
                <p>
                    Localidade
                </p>
            </div>
        </div>
        <div class="row">
            <div id="loc">
                <iframe id="iframe"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3466.0019957496024!2d-50.85256832505418!3d-29.690721814962814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9519170b537610d7%3A0x7d6156c30f954b3e!2sCentro%20de%20treinamento%20Tiago%20Felipe%20brazilian%20jiu%20jitsu%20e%20submission%20grappling!5e0!3m2!1spt-BR!2sbr!4v1689457839703!5m2!1spt-BR!2sbr"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>
<div class="row">
</div>