<section>
    <div class="container-fluid">
            <div class="divbtn-listas">
                <a href="/aceitas">
                    <button class="btn btn-listas" style="width: 90%;height: 60%;">Ver Aceitas</button>
                </a>
            
                <a href="/negadas">
                    <button class="btn btn-listas" style="width: 90%;height: 60%;">Ver Negadas</button>
                </a>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center mt-4 mb-4">Pendentes</h1>
                </div>
            </div>
        <div class="row">
            <% solicitacoes.forEach(solicitacao => { %>
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Nome:</h4>
                            <p class="card-text"><%= solicitacao.nome %></p>

                            <h4 class="card-title">Telefone:</h4>
                            <p class="card-text"><%= solicitacao.telefone %></p>

                            <h4 class="card-title">Endereço:</h4>
                            <p class="card-text"><%= solicitacao.endereco %></p>

                            <a href="/admin/solicitacoes/infos/<%= solicitacao.id %>" class="btn btn-details">Ver mais</a>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</section>
