<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>CestaSocial</h1>
    </div>

    <div class="col-md-6">
      <div class="bg-cadastro">
        <form action="/usuario/login" method="POST">
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Nome:</span>
            <input name="nome" type="text" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm" required>
          </div>

          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">CPF:</span>
            <input name="cpf" type="text" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm" required>
          </div>

          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Email:</span>
            <input name="email" type="text" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm" required>
          </div>

          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Senha:</span>
            <input name="senha" type="password" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm" required>
          </div>

          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Confirmar Senha:</span>
            <input name="confirmSenha" type="password" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm" required>
          </div>

          <button type="submit">Cadastrar</button>
        </form>
      </div>
    </div>

  </div>
</div>