<section>
    <div class="container">
        <div class="row">
            <div class="col-lg text-center">
                <form method="post" action="/usuario/solicitar" class="solicitar-form">
                    <h1>Solicite sua cesta básica!</h1>
                    <div class="form-group">
                        <input type="text" class="input-form" name="nome" placeholder="Nome:" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="input-form" name="cpf" placeholder="CPF:" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="input-form" name="telefone" placeholder="Telefone:" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="input-form" name="endereco" placeholder="Endereço:" required>
                    </div>

                    <div class="form-group">
                        <input type="number" class="input-form" id="numeroDependentes" name="numeroDependentes" placeholder="Número de dependentes:" required>
                    </div>

                    <div class="form-group">
                        <input type="number" class="input-form" id="rendaMensal" name="rendaMensal" placeholder="Renda Mensal:" required>
                    </div>

                    <div class="form-group">
                        <button type="submit" name="solicitar-button" class="solicitar-button">Solicitar</button>
                    </div>
                    <% if (erro) { %>
                        <p class="erro-mensagem"><%= erro %></p>
                    <% } %>


                </form>
            </div>
        </div>
    </div>
  </section>