@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img{
    width: 100%;
    height: 100%;
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00bbbb;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #ffffff;
    display: flex;
    justify-content: center;
}
label{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #00bbbb;
    display: flex;
    justify-content: center;
}

input{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    color: #ffffff !important;
    background-color: transparent;
    padding: 10px;
}

input::placeholder {
    color: #ffffff;
}

.form-group{
    margin: 30px;
    display: flex;
    justify-content: center;
}
.login-form{
    width: 100%;
    height: 100%;
}

.login-button{
    width: 100px;
    height: 50px;
    color: #ffffff;
    background-color: #009999;
    border-radius: 10px;
    border: 2px solid #ffffff;
    font-size: 1em;
}
.login-button:hover{
    background-color: #ffffff;
    border-color: #ffffff;
    color: #009999;
    transition: 0.2s;
}
form{
    border-radius: 15px;
    width: 500px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.erro-mensagem {
    color: #f00;
    margin-top: 10px;
} 
a{
    text-decoration: none;
    color: #ffffff;
}
a :hover{
    color: #ffffff;
}