*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid.footer{
    height: 15vh;
}


.redes-sociais{
    display: flex;
    margin-top: 10px;
}

a{
    text-decoration: none;
}

p{
    font-size: 1.2em; 
}
.ajeito{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.backIcon{
    width: 30px;
    height: 30px;
    background-color: #000000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    margin-left: 10px;
}
.contact{
    display: flex;
    font-size: 0.8em;
    justify-content: center;
    margin: 5px;
}
