*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    list-style: none;
}

section{
    background: url(/images/fundoAzul.webp);
    background-attachment: fixed;
    background-size: cover;
}
.row {
    max-width: 100%;
    overflow-x: hidden; 
}
#video{
    display: flex;
    place-content: center;
}
footer{
    background-color: #ffffff; 
    height: 15vh;
}
.icon{
    width: 30px;
    height: 30px;
}
#loc{
    justify-content: center;
    text-align: center;
    align-items: center;
}
#iframe{
    border-radius: 10px;
}
#footer-contacts h2, p{
    color: #000;
    margin: 1vw;
}
#banner{
    margin-left: 4%;
}
.msg{
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-size: 2em;
    font-weight: bold;
    line-height: 3vh;
}
.footer-link{
    font-size: 1em;
    margin-left: 5%;
    text-decoration: none;
    color: #000;
}
.title-endereco{
    font-size: 2em;
    color: #000;
    font-weight: bold;
}
#title-logo{
    font-size: 2em;
    color: #000;
    font-weight: bold;
}
.imagem-banner{
    margin-top: 2%;
}